
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
# Uncomment to ignore VS Code settings
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Widget Preview
.widget_preview/

# Node.js dependencies
node_modules/
firebase-tests/node_modules/
/firebase-rules-tests/node_modules/

# Firebase emulator files
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Local Firestore rules backup
firestore.rules.bak
